[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
enoslib = "==4.8"
scapy = {extras = ["basic"],version = "==2.4.3"}
pyroute2 = "==0.5.7"

[scripts]
# setup-aio  = "python ./setup-aio.py"
# setup-heat = "python ./setup-heat.py"
# setup-cloud = "python ./setup-cloud.py"

[dev-packages] # Spacemacs deps
python-language-server = {extras = ["yapf"],version = "*"}
pyls-isort = "*"
pyls-mypy = "*"
